<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Who uses the internet in Oregon?</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/superhero/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    <!-- Leaflet CSS -->


  <!-- Icons -->
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
 <!-- <link rel="stylesheet" href="static/css/leaflet.extra-markers.min.css"> -->

    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>

<body>
    <body>
        <div class="wrapper">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Home
                  <!--<img class="nav-ufo" src="static/images/ufo.svg">-->
                </a>
              </div>
            </div>
          </nav>
          <div class="hero text-center">
            <h1>Who uses the internet in Oregon?</h1>
            <p>Something catchy</p>
          </div>

          <div class="container-fluid">
            <div class="row">
              <div class="col-sm row justify-content-center">
                <button id="filter-btn" type="button" class="btn btn-dark">Income</button>
              </div>
              <div class="col-sm row justify-content-center">
                <button id="filter-btn" type="button" class="btn btn-dark">Race</button>
              </div>
              <div class="col-sm row justify-content-center">
                <button id="filter-btn" type="button" class="btn btn-dark">Education</button>
              </div>
            </div>
          </div>

          <div class="row 10 md-n5">
            <div class="col-lg-8 col-sm-12 px-md-5 py-5">
                <h2>Where in Oregon?</h2>
                <hr class="hr-internal">
                <div class="container">
                    <div class="row">
                        <div class="col-12 row justify-content-center">
                            <div id="map"></div>
                            <p>Hi!</p>
                            </div>
                        </div></div></div>
            <div class="col-lg-4 col-sm-12 px-md-5 py-5">
                <h2>Treemap</h2>
                <hr class="hr-internal">
                <div class="container">
                  <div class="row">    
                    <div class="col-12 row justify-content-center">
                        <div id="treemap">

                        </div>
                        </div>
            </div>
          </div>
        </div>
        
            <div class="col-md-12 row justify-content-center">
                <h2>Bubble plots!</h2>
                <div class="col-md-12 row justify-content-center">
                    <div id="bubble"></div>
                </div>
            </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <!-- Our JavaScript -->
  <script type="text/javascript" src="../static/js/app.js"></script>
  <script type="text/javascript" src="../static/js/app_b.js"></script>
    <!-- API Key -->
    <script type="text/javascript" src="../static/js/config.js"></script>


</body>

</html>
