<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About this Project</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/superhero/bootstrap.min.css">
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin="" />

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style_logic.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style_html.css">

  <!-- Icons-->
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

  <script src="https://d3js.org/d3.v5.min.js"></script>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Oregon</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Reset data <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class=" nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            onchange="optionChanged(this.value)" aria-haspopup="true" aria-expanded="false">
            Select a Region
          </a>
          <div class="dropdown-menu" id="region" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/northwest">Northwest Oregon</a>
            <a class="dropdown-item" href="/southwest">Southwest Oregon</a>
            <a class="dropdown-item" href="#">Central Oregon</a>-->

          </div>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <br>

  <div class="hero text-center">
    <h1>The Reach of Internet in Oregon </h1>
  </div>

  <br>
  <br>
  <div class="row">
    <div class="col-md-6 align-center">
      <img src="../static/images/internet2.jpeg" width="1400px">
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 text-center">
      <h4>"As Americans turn to the internet for critical purposes, there are rekindled debates about how the digital
        divide – that is, the gap between those who do or do not have access to technology – may hinder people’s ability
        to complete everyday tasks or even schoolwork." <i>--- Pewresearch.org</i></h4>
    </div>

    <div class="col-md-6 text-center">
      <h4>"Everyone has the right freely to participate in the cultural life of the community, to enjoy the arts and to
        share in scientific advancement and its benefits." <i> ---(Article 27 of the UDHR)</i></h4>
      <div id="treemap" style="width: 900px; height: 500px;"></div>
    </div>
  </div>

  </div>

  <!-- D3 cdn -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.min.js"></script>

  <!-- Leaflet JS-->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
  <!-- Leaflet Heatmap Plugin -->
  <!--<script src="leaflet-heat.js"></script>-->
  <!-- d3 JavaScript -->
  <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->

  <!-- API Key -->
  <!--<script type="text/javascript" src="../static/js/config.js"></script>-->
  <!-- Our JavaScript -->
  <!--<script type="text/javascript" src="../static/js/app.js"></script>-->
  <!--<script type="text/javascript" src="../static/js/app_b.js"></script>-->
  <!--<script type="text/javascript" src="../static/js/logic.js"></script>-->
  <!--<script type="text/javascript" src="../static/js/pie.js"></script>
  <script type="text/javascript" src="../static/js/bar.js"></script>-->
  <script type="text/javascript" src="../static/js/ultimatejs.js"></script>


</body>

<!--<div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"> <span class="sr-only">About Us</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Select Region
          </a>

            <select id="getRegion" onchange="optionChanged(this.value)">
              <option></option>>
              <option>northwest</option>
              <option>southwest</option>
              <option>east</option>
            </select>-->

</html>